
attrs==24.2.0
certifi==2020.6.20
charset-normalizer==3.4.2
colorama==0.4.6
cycler==0.11.0
dacite==1.9.2
et-xmlfile==1.1.0
greenlet==3.1.1
htmlmin==0.1.12
idna==3.10
ImageHash==4.3.1
importlib-metadata==6.7.0
Jinja2==3.1.6
joblib==1.3.2
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.3.4
multimethod==1.9.1
multipledispatch==1.0.0
natsort==8.4.0
networkx==2.6.3
numpy==1.20.2
openpyxl==3.1.3
packaging==24.0
pandas==1.2.2
pandas-profiling==3.6.6
pandas_flavor==0.7.0
patsy==1.0.1
phik==0.12.3
Pillow==9.5.0
plotly==4.14.3
plydata==0.4.3
ppscore==1.2.0
pydantic==1.10.22
pyjanitor==0.20.14
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyWavelets==1.3.0
PyYAML==6.0.1
requests==2.31.0
retrying==1.3.4
scikit-learn==0.23.2
scikit-misc==0.1.3
scipy==1.7.3
seaborn==0.12.2
six==1.17.0
SQLAlchemy==1.4.7
statsmodels==0.13.5
tangled-up-in-unicode==0.2.0
threadpoolctl==3.1.0
tqdm==4.67.1
typeguard==2.13.3
typing_extensions==4.7.1
urllib3==2.0.7
visions==0.7.5
wincertstore==0.2
wordcloud==1.9.4
xarray==0.20.2
XlsxWriter==1.3.7
ydata-profiling==4.5.1
zipp==3.15.0


